* {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    flex-direction: column;
        
}

.expression {
    display: flex;
    justify-content: center;
}

.row .btn.clear {
    width: 206.2833px;
}

.expression input {
    width: 202.2833px;
    border: 1px solid black;
    border-radius: 0;
    font-size: 40px;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.container.operators {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.row.clear {
    display: flex;
    justify-content: center;
}

.btn {
    font-size: 50px;
    padding: 10px;
    border: 1px solid black;
}

.btn.number.wide {
    flex: 1;
}
